\documentclass{article}
\usepackage[preprint]{neurips_2025}
\usepackage{natbib}
\usepackage{hyperref}
\usepackage{booktabs}

\title{ {{title}} }
\author{ {{authors}} }

\begin{document}
\maketitle
\begin{abstract}
{{abstract}}
\end{abstract}

{% for section in sections %}
\section{ {{ section.title }} }
{{ section.content }}
{% endfor %}

\bibliographystyle{plainnat}
\bibliography{references}

\end{document}
